QMainWindow{
    background-color: #003468;
}
QLabel{
    font-family: 'Sagoe UI';
    color: white;
}
QLabel#title{
    font-family: 'Sagoe UI';
    font-weight: bold;
    font-size: 40px;
    color: #fff; 
    margin:0px;  
}
#header_widget{
    font-family: 'Sagoe UI';
    background-color: #001A33;
    padding: 20px;
}
#date_txt{
    font-size: 20px;
}
QLabel#patient{
    font-family: 'Sagoe UI';
    font-size: 45px;
    color: black;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
QListWidget{
    font-family: 'Sagoe UI';
    background-color: #003468;
    color: #fff;
    font-size: 40px;
}
#wrapper_widget{
    background-color: #FFF;
}
#panggil_button{
    background-color: #0080FF;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}
#refresh_button{
    background-color: #919191;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}
#video_button{
    color: white;
}
#patient_list_item {
    font-size: 20px;
    font-weight: -100;
}
QLabel#queue_title{
    font-weight: bold;
    font-size: 40px;
    color: #003468;   
}
#norm_label{
    font-family: 'Sagoe UI';
    font-size: 128px;
    font-weight: 700;
    color: black;
    margin:0px;
    padding:0px;
}
#name_label{
    font-family: 'Sagoe UI';
    font-size: 40px;
    font-weight: 700;
    color: #003468;
    margin:0px;
    padding:0px;
}
#search_widget{
    background-color: white;
    border-radius: 20px;
    border: 1px solid #919191;
}
#search_bar{
    border: none;
    background-color: white;
    color: black;
    padding: 5px; /* Padding for better look */
    outline: none; /* Remove the default focus frame */
}
#close_button{
    border: none;
    background: none;
    color: #919191;
    text-decoration: underline;
}
#close_button:hover {
    color: black;
}
#ext_txt{
    font-family: 'Sagoe UI';
}
QTableWidget {
    background-color: #003468;
    border: none;
    font-size: 20px;
}
QTableWidget::item {
    padding: 10px;
    border: none;
    color: white;
}
QHeaderView::section {
    color: white;
    background-color: #003468;
    padding: 5px;
    border: none;
    font-weight: bold;
    font-size: 20px
}
#button_widget{
    background-color: #fff;
}